<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>

    <link th:rel="stylesheet" type="text/css" th:href="@{/css/wrapper.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<div class="wrapper">
    <div lang="en" th:replace="fragments/header :: header"></div>
    <div class="container-fluid">
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h2>
                <span class="fa fa-arrow-circle-o-left"></span> Catalogue
            </h2>
        </div>
        <!-- END PAGE TITLE -->
        <div class="column">
            <form th:action="@{/catalogue}" th:object="${catalogueFromShop}" method="post">
                <table style="float: left" th:if="${not #lists.isEmpty(catalogueFromStorage.getProducts())}">
                    <tr>
                        <th> Product name</th>
                        <th> Category</th>
                        <th> Amount</th>
                        <th> Price from storage</th>
                    </tr>
                    <tr th:each="product: ${catalogueFromStorage.products}">
                        <td th:text="${product.name}">product name</td>
                        <td th:text="${product.category}">category</td>
                        <td th:text="${product.amount}">amount</td>
                        <td th:text="${product.price}">price</td>
                    </tr>
                </table>
                <table th:if="${not #lists.isEmpty(catalogueFromShop.getProducts())}">
                    <tr>
                        <th> Price from shop</th>
                    </tr>
                    <tr th:each="product, itemStat : ${catalogueFromShop.products}">
                        <td><input th:name="|products[${itemStat.index}].price|" th:value="${product.price}"/></td>
                        <td><input hidden th:name="|products[${itemStat.index}].name|" th:value="${product.name}"/></td>
                        <td><input hidden th:name="|products[${itemStat.index}].category|"
                                   th:value="${product.category}"/></td>
                        <td><input hidden th:name="|products[${itemStat.index}].amount|" th:value="${product.amount}"/>
                        </td>
                    </tr>
                </table>
                <div>
                    <p><span th:text="${message}"></span><span th:if="${message} != null" th:text="${#dates.createNow()}"></span></p>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div th:if="${#lists.isEmpty(catalogueFromStorage.products)}">
                <h4>No data found</h4>
            </div>
        </div>
    </div>
    <div lang="en" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>