<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link th:rel="stylesheet" type="text/css" th:href="@{/css/wrapper.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<div class="wrapper">
    <div lang="en" th:replace="fragments/header :: header"></div>

    <h1 class="text-center">Test test</h1>
    <h2 class="text-center" th:text="${message}">Whats up?!</h2>
    <p>Some text</p>
    <br>
    <br>
    <br>
    <div lang="en" th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>