<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/wrapper.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<div class="wrapper">
    <!-- START PAGE CONTAINER -->
    <div class="container-fluid">
        <!-- PAGE TITLE -->
        <div class="page-title">
            <h3>
                <span class="fa fa-arrow-circle-o-left"></span> Login
            </h3>
        </div>
        <!-- END PAGE TITLE -->
        <div class="column">
            <p th:if="${loginError}" class="error">Wrong username or password</p>
            <form th:action="@{/login}" method="post">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" id="username" name="username" autofocus="autofocus" /> <br /></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" id="password" name="password" /> <br /></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-primary"><a th:href="@{/register}">Registration</a></button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- END PAGE CONTAINER -->
    </div>

</div>
</body>
</html>